:root {
    --purple: #8979F2;

    --light-green: #2dab76;
    --soft-green:#3e774d;
    --dark-green: #f5e9d6;
    --grey: #bbaf9a;

    --black: #22272e;
    --lighterBlack: #2d333b;
    --lighestBlack: #595b58;

    --text-white: #FAFAFA;

    --btn-green: #1d4824;
    --btn-red: #663a36;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: .25rem;
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 10px;
}

.far, .fas {
    color: var(--light-green);
}

html, body {
    margin: 0;
    background-color: var(--black);
    height: 100%;
    overflow-x: hidden !important;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header i {
    height: fit-content;
    font-size: 20pt;
}

/* logo */
#logoWrapper {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-bottom: 2rem;
    align-items: flex-end;
}

#logoWrapper .fa-bars {
    cursor: pointer;
}

#logo {
    display: flex;
    flex-direction: column;
    width: 80vw;
}


#logo h1 {
    margin: 0;
    font-style: serif;
    color: white;
}


#logo div {
    background-color: var(--light-green);
    width: 66%;
    height: .5rem;
    border-radius: 3px;
}

#controls {
    position: fixed;
    bottom: 0rem;
    left: 50%;
    height: 4rem;
    background-color: var(--purple);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translateX(-50%);
    font-size: 4rem;
    z-index: 5;
    align-items: center;
}

#controls i {
    transition: all .25s;
    color: var(--black);
    cursor: pointer;
}

#controls i:hover {
    text-shadow: 0 0 10px var(--lighestBlack);
}

#controls div {
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* slider groups */
.sliderGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--lighterBlack);
    padding: 1rem;
    border-radius: 3px;
    color: var(--text-white);
    margin-bottom: 1rem;
}

.sliderGroupMeta {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: baseline;
}

.sliderGroupMeta h2 {
    margin-top: 0;
}

/* date specific */
.todaySliderGroup, #weekSlider {
    width: 90%;
}

.previousWeekSliderGroup {
    width: 85%;
}

.earlierSliderGroup {
    flex-wrap: wrap;
    flex-direction: row;
    width: 85%;
    height: 2rem;
    align-items: baseline;
}
.earlierSliderGroup .sliderGroupMeta {
    width: 23%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.earlierSliderGroup .sliderGroupMeta h2 {
    padding-right: 1rem;
}

.earlierSliderGroup .slider {
    width: 77%;
}

.earlierSliderGroup .noUi-target {
    border-color: var(--black) !important;
}

.earlierSliderGroup .noUi-connect {
    background: var(--lighestBlack) !important;
}

.earlierSliderGroup .noUi-connects {
    background: var(--black) !important;
}

.earlierSliderGroup .noUi-horizontal {
    height: .5rem;
}

/* fix sliders */
.noUi-handle {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.noUi-touch-area {
    height: 40px !important;
}

.noUi-handle:after, .noUi-handle:before {
    background: none !important;

}

#weekSlider .noUi-connect {
    background: var(--btn-red);
}

#weekSlider .noUi-target {
    border-color: var(--btn-red);
}


@media screen and (max-width: 1000px) {
    .earlierSliderGroup .sliderGroupMeta {
        transform: translateY(-0.5em);
    }
    .earlierSliderGroup h2 {
        margin: 0;
    }
    .earlierSliderGroup {
        justify-content: space-between;
    }
    .earlierSliderGroup .slider {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .earlierSliderGroup .slider {
        width: 50%;
    }
}
