:root {
    --purple: #8979F2;

    --light-green: #2dab76;
    --soft-green:#3e774d;
    --dark-green: #f5e9d6;
    --grey: #bbaf9a;

    --black: #22272e;
    --lighterBlack: #2d333b;
    --lighestBlack: #595b58;

    --text-white: #FAFAFA;

    --btn-green: #1d4824;
    --btn-red: #663a36;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: .25rem;
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 10px;
}

.fas {
    color: var(--light-green);
}

html, body {
    margin: 0;
    background-color: var(--black);
    height: 100%;
    overflow-x: hidden !important;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header i {
    height: fit-content;
    font-size: 20pt;
}

/* logo */
#logoWrapper {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-bottom: 2rem;
    align-items: flex-end;
}

#logoWrapper .fa-bars {
    cursor: pointer;
}

#logo {
    display: flex;
    flex-direction: column;
    width: 80vw;
}


#logo h1 {
    margin: 0;
    font-style: serif;
    color: white;
}


#logo div {
    background-color: var(--light-green);
    width: 66%;
    height: .5rem;
    border-radius: 3px;
}

#controls {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    cursor: pointer;
}

#controls .fas{
    transition: all .25s;
}

#controls .fas:hover {
    text-shadow: 0 0 10px var(--light-green);
}


main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* slider groups */
.sliderGroup {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    background: var(--lighterBlack);
    padding: 1rem;
    border-radius: 3px;
    color: var(--text-white);
    margin-bottom: 1rem;
}

.sliderGroupMeta {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: baseline;
}

.sliderGroupMeta h2 {
    margin-top: 0;
}


/* fix sliders */
.noUi-handle {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.noUi-horizontal {
    height: 2rem !important;
}

.noUi-touch-area {
    height: 40px !important;
}

.noUi-handle:after, .noUi-handle:before {
    background: none !important;

}

#weekSlider .noUi-connect {
    background: var(--btn-red);
}

#weekSlider .noUi-target {
    border-color: var(--btn-red);
}